@charset "UTF-8";

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
iframe {
    width: 330px;
    height: 100vh;
    border: none;
}


img {
    height: 10vh;
    width: 10vh;
}